# STOCK MARKET PRICE PREDICTION

In [1]:
#import System Parameters and function
import sys
print (sys.version)

3.6.13 |Anaconda, Inc.| (default, Mar 16 2021, 11:37:27) [MSC v.1916 64 bit (AMD64)]

## Collection of Data from yahoo Finance - 10 YEARS

### 1. AMAZON STOCK PRICE

In [2]:
#importing of libraries
import pandas
from pandas_datareader import data as pdr
import yfinance as yf 
#yfinance aimes to solve this problem by offering a reliable, threaded, and Pythonic way to download historical market data from Yahoo! finance.

import datetime
yf.pdr_override() 

import warnings
warnings.filterwarnings('ignore')

stocks = ["AMZN"]
start = datetime.datetime(2011,4,4)
end = datetime.datetime(2021,4,1)

AMZN = pdr.get_data_yahoo(stocks, start=start, end=end)


AMZN.head(5)

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2011-04-04,180.889999,183.610001,180.690002,182.940002,182.940002,4186400
2011-04-05,182.100006,186.360001,181.800003,185.289993,185.289993,5569200
2011-04-06,186.149994,188.270004,181.119995,182.759995,182.759995,5430700
2011-04-07,182.779999,185.169998,181.759995,184.910004,184.910004,4564000
2011-04-08,185.259995,186.220001,182.779999,184.710007,184.710007,3726400

### 2. APPLE

In [4]:
stocks1 = ['AAPL']
APPLE = pdr.get_data_yahoo(stocks1, start=start, end=end)
APPLE.head(5)

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close     Volume
Date
2011-04-04  12.296786  12.307143  12.085714  12.185357  10.496021  460084800
2011-04-05  12.035357  12.223214  12.000000  12.103214  10.425268  482731200
2011-04-06  12.186429  12.282143  12.040714  12.072857  10.399117  402539200
2011-04-07  12.075000  12.158214  12.001071  12.074286  10.400350  373447200
2011-04-08  12.140000  12.148214  11.926786  11.966429  10.307444  377535200

### 3. GOOGLE

In [6]:
stocks2 = ['GOOG']
GOOGLE = pdr.get_data_yahoo(stocks2, start=start, end=end)
GOOGLE.head(5)

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2011-04-04,295.392792,296.259552,290.461273,292.742737,292.742737,4124402
2011-04-05,289.455048,289.659271,281.783813,283.482452,283.482452,12140335
2011-04-06,285.021667,286.506104,282.939484,286.017944,286.017944,5356603
2011-04-07,286.790039,289.235870,286.022919,288.917053,288.917053,5081977
2011-04-08,291.352936,291.352936,287.950684,288.000488,288.000488,3817857