## STOCK MARKET PRICE PREDICTION

In [1]:
#import System Parameters and function
import sys
print (sys.version)

3.8.5 (default, Sep  3 2020, 21:29:08) [MSC v.1916 64 bit (AMD64)]

## Collection of Data from yahoo Finance - 10 YEARS

### 1.AMAZON

In [10]:
#importing of libraries
import pandas
from pandas_datareader import data as pdr
import yfinance as yf 

import datetime
yf.pdr_override() 

import warnings
warnings.filterwarnings('ignore')

stocks = ["AMZN"]
start = datetime.datetime(2011,4,2)
end = datetime.datetime(2021,4,1)

data = pdr.get_data_yahoo(stocks, start=start, end=end)

#file saved in the directory
data.to_csv('C://Users//HP//Desktop//Stock market prediction//AMAZON.csv') 

data.head(5)

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2011-04-01,181.580002,183.250000,178.589996,180.130005,180.130005,5684100
2011-04-04,180.889999,183.610001,180.690002,182.940002,182.940002,4186400
2011-04-05,182.100006,186.360001,181.800003,185.289993,185.289993,5569200
2011-04-06,186.149994,188.270004,181.119995,182.759995,182.759995,5430700
2011-04-07,182.779999,185.169998,181.759995,184.910004,184.910004,4564000

## 2.APPLE

In [11]:
#importing of libraries
import pandas
from pandas_datareader import data as pdr
from pandas.util.testing import assert_frame_equal
import yfinance as yf
import datetime
yf.pdr_override() 

stocks = ["AAPL"]
start = datetime.datetime(2011,4,2)
end = datetime.datetime(2021,4,1)

data = pdr.get_data_yahoo(stocks, start=start, end=end)

#file saved in the directory
data.to_csv('C://Users//HP//Desktop//Stock market prediction//APPLE.csv') 

data.head(5)

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close     Volume
Date
2011-04-01  12.539643  12.556786  12.260714  12.305714  10.599690  418661600
2011-04-04  12.296786  12.307143  12.085714  12.185357  10.496021  460084800
2011-04-05  12.035357  12.223214  12.000000  12.103214  10.425268  482731200
2011-04-06  12.186429  12.282143  12.040714  12.072857  10.399117  402539200
2011-04-07  12.075000  12.158214  12.001071  12.074286  10.400350  373447200

## 3.GOOGLE

In [12]:
#importing of libraries
import pandas
from pandas_datareader import data as pdr
from pandas.util.testing import assert_frame_equal
import yfinance as yf
import datetime
yf.pdr_override() 

stocks = ["GOOG"]
start = datetime.datetime(2011,4,2)
end = datetime.datetime(2021,4,1)

data = pdr.get_data_yahoo(stocks, start=start, end=end)

#file saved in the directory
data.to_csv('C://Users//HP//Desktop//Stock market prediction//GOOGLE.csv') 

data.head(5)

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2011-04-01,293.280701,296.483704,293.280701,294.795044,294.795044,5245990
2011-04-04,295.392792,296.259552,290.461273,292.742737,292.742737,4124402
2011-04-05,289.455048,289.659271,281.783813,283.482452,283.482452,12140335
2011-04-06,285.021667,286.506104,282.939484,286.017944,286.017944,5356603
2011-04-07,286.790039,289.235870,286.022919,288.917053,288.917053,5081977